@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 style="text-align: center;">YOU ARE NOT AUTHORIZED FOR THIS PAGE!</h2>
</div>

<div class="row" style="position: absolute; top: 50%; left: 50%;">
    <form method="post">
        <div>
            <input type="submit" value="Return" style="font-size: 24px;" class="btn btn-primary" asp-controller="Home" asp-action="LoginPage" />
        </div>
    </form>
</div>
