@model UpdatePasswordViewModel
@{
    ViewData["Title"] = "UpdateUserPassword";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="row">

    <div class="col-md-4 offset-md-4">
        <h4>Update Password</h4>
        <hr />
        <h5>@ViewBag.error</h5>
        <form asp-action="InsertUser" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input type="hidden" asp-for="Id" value="@ViewBag.user.Id" />
            </div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordAgain" class="control-label"></label>
                <input asp-for="PasswordAgain" class="form-control" />
                <span asp-validation-for="PasswordAgain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
