<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EldorAnnualLeave</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-eldor border-bottom box-shadow mb-3" style="background-color: #0A2754;">
            <div class="logo">
                <img src="/css/logo_eldor_640x200.png">
            </div>
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Manager" asp-action="EmployeeTable">Employee Table</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form asp-area="" asp-controller="Manager" asp-action="UpdateUserPassword" method="post">
                                    <button type="submit" class="dropdown-item btn btn-info btn-sm">Update Password</button>
                                </form>
                                <form asp-area="" asp-controller="Manager" asp-action="UpdateUserPersonal" method="post">
                                    <button type="submit" class="dropdown-item btn btn-info btn-sm">Update User</button>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Manager" asp-action="EnterLeave">Enter Leave</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Manager" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-bottom:50px">
        <main role="main" class="pb-3">
            @RenderBody()
            @RenderSection("styles", required: false)
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#0A2754;">
        <div class="container">
            &copy; 2021 - ELDOR
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
